.body1{
    background-color: #212121;
    color:white;
    padding:0;
    margin:0
}
.h1{
  display: flex;
  justify-content: center;
}
.p1{
    display: flex;
    justify-content: center;
}
.h2{
    display: flex;
    justify-content: center;
    font-size:70px;
  }

.form{
    display: flex;
  
    justify-content: center;
    gap: 15px;
}
.resultparas{
    display: flex;
  
    justify-content: center;
    gap: 35px;
}